{{define "head"}}
<title>ProtonHub :: Index</title>
{{end}} {{define "body"}}
<h1>Launchers</h1>
<div class="row m-3">
  <table class="table table-striped-columns">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Prefix</th>
        <th scope="col">Proton</th>
        <th scope="col">Exe</th>
        <th scope="col">Arguments</th>
        <th scope="col">Store</th>
        <th scope="col">Game ID</th>
      </tr>
    </thead>
    <tbody>
      {{ range .}}
      <tr>
        <td scope="row">
          <button
            id="launcher"
            class="btn btn-success"
            data-game-id="{{ .GameID }}"
          >
            Launch
          </button>
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-primary dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Manage
            </button>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  href="#"
                  id="edit"
                  data-game-id="{{ .GameID }}"
                  >Edit</a
                >
              </li>
              <li>
                <a
                  id="winetricks"
                  class="dropdown-item"
                  href="#"
                  data-game-id="{{ .GameID }}"
                  data-bs-toggle="modal"
                  data-bs-target="#winetricksModal"
                  >Winetricks</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Delete</a></li>
            </ul>
          </div>
        </td>
        <td>{{ .Name }}</td>
        <td>{{ .Prefix }}</td>
        <td>{{ .Proton }}</td>
        <td>{{ .Exe }}</td>
        <td>{{ .LaunchArgs }}</td>
        <td>{{ .Store }}</td>
        <td>{{ .GameID }}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>

<div
  class="modal fade"
  id="winetricksModal"
  tabindex="-1"
  aria-labelledby="winetricksModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="winetricksModalTitle">
          Winetricks verbs prompt
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <p>Put your winetricks verbs below. Separate each verb with space.</p>
        </div>
        <div class="row">
          <div class="input-group mb-3">
            <span class="input-group-text">winetricks</span>
            <input
              type="text"
              class="form-control"
              id="winetricksVerbs"
              placeholder="dotnet40 dotnet48 vcrun2019"
            />
          </div>
        </div>
        <div class="row">
          <div class="mb-3">
            <label for="commandLogs" class="form-label">Command logs</label>
            <textarea class="form-control" id="commandLogs" rows="6" disabled></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="winetricksVerbsSave">
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<script src="assets/js/index.js"></script>
{{end}}
